.profile{
  margin-bottom: 100px;
  .wrapper{
    display: flex;
    max-width: 600px;

    .modal_creator{
      background: #FFF;
      padding: 20px;
      border-radius: 4px;
      flex: 1;

      .user_img_wrap{
        text-align: center;

        .img_holder{
          border-radius: 50%;
          display: inline-block;
          background: #CCC center no-repeat;
          background-size: cover;
          width: 140px;
          height: 140px;
          border: #CCC 3px solid;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          &:hover{
            cursor: pointer;
            > img,h6{
              opacity: 0.6;
            }
          }

          > img{
            width: 40px;
            height: auto;
            opacity: 0;
            transition-duration: 0.3s;
          }
          > h6{
            opacity: 0;
            transition-duration: 0.3s;
            margin: 0px;
            padding: 0px;
          }

          > input{
            display: none;
          }
        }
      }
    }
    .preview_wrap{
      padding: 10px;
      flex: 1;
    }
  }
}
