@import "./partials/variables";
@import "./partials/helpers";
@import "./partials/loginModal";
@import "./partials/newCampaign";
//@import "./../../node_modules/font-awesome/scss/font-awesome.scss";

body{
  background: #EEE;
}

*{
  box-sizing: border-box;
}

.app_header{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&0.46+0,0+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0.46) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0.46) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0.46) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75000000', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  position: relative;
  z-index: 10;

  .root{
    display: flex;
    padding: 10px 0px;

    .logo_wrap{
      display: inline-flex;
      justify-content: center;
      align-items: center;

      a{
        text-decoration: none;
        font-weight: bold;
      }

      span.logo_text{
        font-size: 30px;
        font-weight: bold;
        color: #FFF;
        background: rgba($baseMain, 0.4);
        padding: 8px 16px;
        border: 2px solid $baseMain;
        position: relative;


        span{
          &:nth-child(1){
            //color: $baseMain;
          }
          &:nth-child(2){
            //color: $baseSecond;
          }
        }
      }
    }

    nav{
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      flex:1;
      text-align: right;

      a{
        padding: 0px 20px;
        text-decoration: none;
        color: #FFF;
        font-weight: bold;
      }

      button.btn_join{
        padding: 12px 20px;
      }

      .btn_create{
        background: transparent;
        border-radius: 20px;
        padding: 8px 16px;
        border: 2px solid #FFF;
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        transition-duration: 0.2s;
        cursor: pointer;
        outline: none;

        &:hover{
          border-color: $baseMain;
          color: $baseMain;
        }
      }

      .logged_user{
        display: inline-flex;
        img{
          max-width: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }

      .dropdown{
        position: relative;

        .dropdown__trigger {
          padding: 0px !important;
        }
        .dropdown__content {
          position: absolute;
          top: 60px;
          width: 100%;
          left: 0px;
          right: 0px;


          ul{
            margin: 0px;
            padding: 0px;
            text-align: left;
            border: 1px solid #EEE;

            li{
              list-style: none;
              border-bottom: 1px solid #EEE;
              background: #FFF;
              padding: 4px 10px;
              a{
                color: #333;
                font-weight: normal;
              }
            }
          }
        }
      }
    }
  }
}

.home{
  position: relative;
  top: -84px;
  .main_bg{
    position: relative;;
    background: url("./../../imgs/bgs/4.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;

    .root{
      padding-top: 100px;
      color: #FFF;

      .hero_text{
        font-size: 40px;
        text-align: center;
        color: #FFF;
        max-width: 500px;
        margin: 0px auto;
        margin-top: 100px;
        margin-bottom: 70px;
        text-shadow: 0px 0px 10px 20px rgba(#000, 0.3);
      }
    }
  }

  .popular_listing_wrap,
  .new_listing_wrap,
  footer.app_footer{
    position: relative;
    top: -100px;
    margin-bottom: 40px;
  }
}

.popular_listing{
  background: #FFF;
  padding: 20px;

  .listing{
    display: flex;
    flex-wrap: wrap;

    .item{
      display: flex;
      flex: 1 48%;
      border: 1px solid #EEE;
      margin-top: 20px;
      cursor: pointer;

      &:nth-child(odd){
        margin-right: 2%;
      }

      .img_wrap{
        max-width: 220px;
        img{
          width: 100%;
        }
      }
      .desc_wrap{
        flex: 1;
        padding: 20px;
        position: relative;
        h4{
          margin: 0px;
          padding: 0px;
          margin-bottom: 8px;
        }

        p{
          padding: 0px;
          margin: 0px;
        }

        button{
          margin-top: 15px;
          width: 100%;
          padding: 8px 16px;
        }

        .join_wrap{
          position: absolute;
          top: 10px;
          right: 10px;
          color: #999;
          font-size: 12px;

          span{
            &:nth-child(1){
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

.search_wrap{
  display: flex;
  max-width: 600px;
  margin: 0px auto;
  align-items: flex-start;
  background: yellow;
  height: 55px;


  &.simple_input{
    margin: 0px;

  }

  .react-autosuggest__container{
    position: relative;
    z-index: 15;
    flex: 1;
    box-shadow: 0px 0px 10px 0px rgba(#000, 0.1);
    input{
      padding: 16px 20px;
      border: 1px solid #EEE;
      font-size: 18px;
      color: #444;
      width: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    ul{
      padding: 0px;
      margin: 0px;
      li{
        background: #FFF;
        list-style: none;
        color: #333;
        padding: 8px 16px;
        border-bottom: 1px solid #EEE;

        &:hover{
          background: #EEE;
          cursor: pointer;
        }
      }
    }
  }

  button{
    width: 120px;
    height: 55px;
    font-size: 18px;
    color: #FFF;
    background: $baseSecond;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.new_campaign{
  padding: 40px 0px;
  padding-top: 100px;
  position: relative;
  background: transparent;
  top: -80px;

  &:before{
    content: "";
    background: red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index: -1;
  }

  .main_form{
    background: #FFF;
    padding: 20px;
    border: 1px solid #EEE;
    margin-top: 20px;
    max-width: 700px;

    .row{
      display: flex;
      margin-bottom: 20px;

      &.column{
        flex-direction: column;
      }

      & > label{
        color: #222;
        margin-bottom: 10px;
      }

      & > input{
        padding: 8px 16px;
        border: none;
        border-bottom: 2px solid #CCC;
        font-size: 16px;
        outline: none;
        max-width: 400px;

        &:active,
        &:focus{
          border-bottom: 2px solid $baseMain;
        }
      }

      &.half{
        & > div{
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-right: 30px;

          .react-date-picker__button{
            width: 100%;
            max-width: 250px;
            border: none;
            border-bottom: 2px solid #CCC;
            margin-top: 10px;
            &:focus{
              border-bottom: 2px solid $baseMain;
            }
          }
        }
      }
    }

    .btn_create_campaign{
      background: $baseMain;
      padding: 8px 16px;
      width: auto;
    }
  }
}


footer.app_footer{
  .root{
    display: flex;
    flex: 1 25%;
  }
}
