.wrapper {
  max-width: 1028px;
  margin: 0px auto; }

.mdl_shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.mdl_shadow_active {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.mdl_shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.dropdown {
  display: inline-block; }

.dropdown__content {
  display: none;
  position: absolute; }

.dropdown--active .dropdown__content {
  display: block; }

input.int_comp {
  background: transparent;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #EEE; }

.location_img_wrap {
  position: relative; }
  .location_img_wrap .img_controls {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between; }
    .location_img_wrap .img_controls .btn_wrap {
      display: inline-block;
      padding: 10px;
      background: #FFF;
      border-radius: 3px;
      border: 1px solid #CCC; }
      .location_img_wrap .img_controls .btn_wrap.fake_hide {
        pointer-events: none;
        opacity: 0; }

.user_info_wrap {
  display: flex;
  align-items: center; }
  .user_info_wrap img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-radius: 2px solid #CCC; }
  .user_info_wrap span {
    margin-left: 10px; }

.form_controls_wrap.error {
  border-bottom: 2px solid red; }

.form_controls_wrap {
  position: relative;
  padding-top: 20px;
  margin-top: 20px; }
  .form_controls_wrap.focused .bar {
    width: 100%; }
  .form_controls_wrap.focused label {
    top: 5px;
    font-size: 10px;
    color: #999; }
  .form_controls_wrap.filled label {
    top: 5px;
    font-size: 10px;
    color: #999; }
  .form_controls_wrap label {
    position: absolute;
    top: 22px;
    left: 0px;
    transition-duration: 0.4s;
    pointer-events: none; }
  .form_controls_wrap input {
    width: 100%;
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    border-bottom: 1px solid #CCC;
    padding: 0px;
    margin-top: 5px; }
  .form_controls_wrap .bar {
    position: absolute;
    width: 0%;
    height: 2px;
    background: blue;
    transition-duration: 0.4s;
    bottom: 0px;
    left: 0px;
    border: 1px; }

button {
  font-size: 18px;
  color: #FFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition-duration: 0.2s;
  cursor: pointer;
  padding: 16px; }
  button.main {
    background: #ff7f50; }
    button.main:hover {
      background: #f57546; }

.logo_wrap {
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .logo_wrap a {
    text-decoration: none;
    font-weight: bold; }
  .logo_wrap span.logo_text {
    font-size: 42px;
    font-weight: normal;
    color: #FFF;
    background: #2f3542;
    padding: 8px 16px;
    position: relative;
    top: -2px; }
    .logo_wrap span.logo_text span:nth-child(2) {
      color: #ff7f50;
      font-weight: bold; }

.login_modal {
  background: #FFF;
  width: 900px;
  display: flex;
  height: 60vh;
  z-index: 999999;
  position: relative; }
  .login_modal .text_wrap {
    flex: 1;
    background: #2f3542;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .login_modal .text_wrap h1, .login_modal .text_wrap h3 {
      margin: 0px;
      padding: 0px;
      color: #FFF; }
  .login_modal .login_wrap {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
    .login_modal .login_wrap img {
      max-width: 240px;
      cursor: pointer; }

.new_campaign {
  background: #FFF;
  padding: 40px 0px;
  padding-top: 100px;
  position: relative;
  top: -80px; }
  .new_campaign:before {
    content: "";
    background: yellow;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 500px; }

.profile {
  margin-bottom: 100px; }
  .profile .wrapper {
    display: flex;
    max-width: 600px; }
    .profile .wrapper .modal_creator {
      background: #FFF;
      padding: 20px;
      border-radius: 4px;
      flex: 1; }
      .profile .wrapper .modal_creator .user_img_wrap {
        text-align: center; }
        .profile .wrapper .modal_creator .user_img_wrap .img_holder {
          border-radius: 50%;
          display: inline-block;
          background: #CCC center no-repeat;
          background-size: cover;
          width: 140px;
          height: 140px;
          border: #CCC 3px solid;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          flex-direction: column; }
          .profile .wrapper .modal_creator .user_img_wrap .img_holder:hover {
            cursor: pointer; }
            .profile .wrapper .modal_creator .user_img_wrap .img_holder:hover > img, .profile .wrapper .modal_creator .user_img_wrap .img_holder:hover h6 {
              opacity: 0.6; }
          .profile .wrapper .modal_creator .user_img_wrap .img_holder > img {
            width: 40px;
            height: auto;
            opacity: 0;
            transition-duration: 0.3s; }
          .profile .wrapper .modal_creator .user_img_wrap .img_holder > h6 {
            opacity: 0;
            transition-duration: 0.3s;
            margin: 0px;
            padding: 0px; }
          .profile .wrapper .modal_creator .user_img_wrap .img_holder > input {
            display: none; }
    .profile .wrapper .preview_wrap {
      padding: 10px;
      flex: 1; }

.dashboard {
  position: relative;
  margin-bottom: 50px; }
  .dashboard .wrapper header {
    background: #FFF;
    padding: 12px;
    border-radius: 4px;
    margin-top: 14px; }
    .dashboard .wrapper header > span {
      color: #2f3542;
      font-weight: bold;
      font-size: 16px; }
  .dashboard .wrapper .section_wrap {
    display: flex;
    margin-top: 16px; }
    .dashboard .wrapper .section_wrap aside {
      width: calc(30% - 16px);
      margin-right: 16px;
      background: #FFF;
      border-radius: 4px; }
    .dashboard .wrapper .section_wrap main {
      border-radius: 4px;
      width: calc(70%);
      background: #FFF; }

.no_dashboard {
  padding: 20px; }
  .no_dashboard h3 {
    margin-top: 60px; }
    .no_dashboard h3 > span {
      width: 40px;
      height: 40px;
      display: inline-block;
      background: #2f3542;
      color: #FFF;
      font-weight: bold;
      padding-left: 15px;
      padding-top: 10px;
      border-radius: 50%; }

.no_profile {
  padding: 20px;
  text-align: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .no_profile h4 {
    padding: 0px;
    margin: 0px;
    color: #d35400; }
  .no_profile a {
    display: inline-block;
    padding: 8px 16px;
    background: #ff7f50;
    border-radius: 4px;
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px; }

body {
  background: #f1f1f1; }

* {
  box-sizing: border-box; }

.app_header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,7db9e8+100&0.46+0,0+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.46) 0%, rgba(125, 185, 232, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#75000000', endColorstr='#007db9e8',GradientType=0 );
  /* IE6-9 */
  position: relative;
  z-index: 99999; }
  .app_header .root {
    display: flex;
    padding: 10px 0px; }
    .app_header .root nav {
      display: inline-flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      text-align: right; }
      .app_header .root nav a {
        padding: 0px 20px;
        text-decoration: none;
        color: #FFF;
        font-weight: bold; }
      .app_header .root nav button.btn_join {
        padding: 12px 20px; }
      .app_header .root nav .btn_create {
        background: transparent;
        border-radius: 20px;
        padding: 8px 16px;
        border: 2px solid #FFF;
        color: #FFF;
        font-weight: bold;
        font-size: 16px;
        transition-duration: 0.2s;
        cursor: pointer;
        outline: none; }
        .app_header .root nav .btn_create:hover {
          border-color: #ff7f50;
          color: #ff7f50; }
      .app_header .root nav .logged_user {
        display: inline-flex; }
        .app_header .root nav .logged_user img {
          max-width: 50px;
          border-radius: 50%;
          margin-right: 10px; }
      .app_header .root nav .dropdown {
        position: relative; }
        .app_header .root nav .dropdown .dropdown__trigger {
          padding: 0px !important; }
        .app_header .root nav .dropdown .dropdown__content {
          position: absolute;
          top: 60px;
          width: 100%;
          left: 0px;
          right: 0px; }
          .app_header .root nav .dropdown .dropdown__content ul {
            margin: 0px;
            padding: 0px;
            text-align: left;
            border: 1px solid #EEE; }
            .app_header .root nav .dropdown .dropdown__content ul li {
              list-style: none;
              border-bottom: 1px solid #EEE;
              background: #FFF;
              padding: 4px 10px; }
              .app_header .root nav .dropdown .dropdown__content ul li a {
                color: #333;
                font-weight: normal; }

.home {
  position: relative;
  top: -84px; }
  .home .main_bg {
    position: relative;
    background: url("./../../imgs/bgs/6.jpg") center no-repeat;
    background-size: cover;
    z-index: 5; }
    .home .main_bg:after {
      background: rgba(47, 53, 66, 0.5);
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1; }
    .home .main_bg .root {
      padding-top: 100px;
      color: #FFF;
      padding-bottom: 150px; }
      .home .main_bg .root .hero_text {
        font-size: 50px;
        font-weight: 100;
        color: #FFF;
        margin: 0px auto;
        margin-top: 100px;
        text-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.3); }
      .home .main_bg .root p {
        max-width: 600px;
        font-size: 20px; }
  .home .popular_listing_wrap,
  .home .new_listing_wrap,
  .home footer.app_footer {
    position: relative;
    top: -100px;
    margin-bottom: 40px; }
  .home .features {
    position: relative; }
    .home .features .features_wrap {
      display: flex;
      padding: 20px;
      position: relative;
      top: -45px;
      background: #fff;
      z-index: 99;
      border-radius: 5px;
      flex-wrap: wrap;
      flex-direction: column; }
      .home .features .features_wrap > h1 {
        text-align: center;
        color: #2f3542; }
      .home .features .features_wrap .feature {
        flex: 0 50%;
        display: flex; }
        .home .features .features_wrap .feature .text_wrap {
          flex: 1;
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding: 50px; }
          .home .features .features_wrap .feature .text_wrap h2 {
            font-weight: normal;
            color: #2f3542;
            margin-bottom: 0px; }
          .home .features .features_wrap .feature .text_wrap p {
            color: #555;
            font-size: 16px;
            line-height: 150%;
            font-size: 16px; }
        .home .features .features_wrap .feature .img_wrap {
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 50px; }
          .home .features .features_wrap .feature .img_wrap img {
            width: 100%;
            max-width: 200px; }

.popular_listing {
  background: #FFF;
  padding: 20px; }
  .popular_listing .listing {
    display: flex;
    flex-wrap: wrap; }
    .popular_listing .listing .item {
      display: flex;
      flex: 1 48%;
      border: 1px solid #EEE;
      margin-top: 20px;
      cursor: pointer; }
      .popular_listing .listing .item:nth-child(odd) {
        margin-right: 2%; }
      .popular_listing .listing .item .img_wrap {
        max-width: 220px; }
        .popular_listing .listing .item .img_wrap img {
          width: 100%; }
      .popular_listing .listing .item .desc_wrap {
        flex: 1;
        padding: 20px;
        position: relative; }
        .popular_listing .listing .item .desc_wrap h4 {
          margin: 0px;
          padding: 0px;
          margin-bottom: 8px; }
        .popular_listing .listing .item .desc_wrap p {
          padding: 0px;
          margin: 0px; }
        .popular_listing .listing .item .desc_wrap button {
          margin-top: 15px;
          width: 100%;
          padding: 8px 16px; }
        .popular_listing .listing .item .desc_wrap .join_wrap {
          position: absolute;
          top: 10px;
          right: 10px;
          color: #999;
          font-size: 12px; }
          .popular_listing .listing .item .desc_wrap .join_wrap span:nth-child(1) {
            font-size: 16px; }

.search_wrap {
  display: flex;
  max-width: 600px;
  margin: 0px auto;
  align-items: flex-start;
  background: yellow;
  height: 55px; }
  .search_wrap.simple_input {
    margin: 0px; }
  .search_wrap .react-autosuggest__container {
    position: relative;
    z-index: 15;
    flex: 1;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); }
    .search_wrap .react-autosuggest__container input {
      padding: 16px 20px;
      border: 1px solid #EEE;
      font-size: 18px;
      color: #444;
      width: 100%;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px; }
    .search_wrap .react-autosuggest__container ul {
      padding: 0px;
      margin: 0px; }
      .search_wrap .react-autosuggest__container ul li {
        background: #FFF;
        list-style: none;
        color: #333;
        padding: 8px 16px;
        border-bottom: 1px solid #EEE; }
        .search_wrap .react-autosuggest__container ul li:hover {
          background: #EEE;
          cursor: pointer; }

.new_campaign {
  padding: 40px 0px;
  padding-top: 100px;
  position: relative;
  background: transparent;
  top: -80px; }
  .new_campaign:before {
    content: "";
    background: red;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index: -1; }
  .new_campaign form {
    display: flex;
    align-items: flex-start; }
  .new_campaign .sidebar {
    background: #FFF;
    margin-left: 20px;
    width: 300px; }
    .new_campaign .sidebar img {
      width: 100%; }
  .new_campaign .main_wrap {
    flex: 3; }
  .new_campaign .main_form {
    background: #FFF;
    padding: 20px;
    border: 1px solid #EEE;
    margin-top: 20px; }
    .new_campaign .main_form .row {
      display: flex;
      margin-bottom: 20px; }
      .new_campaign .main_form .row.column {
        flex-direction: column; }
      .new_campaign .main_form .row > label {
        color: #222;
        margin-bottom: 10px; }
      .new_campaign .main_form .row > input {
        padding: 8px 16px;
        border: none;
        border-bottom: 2px solid #CCC;
        font-size: 16px;
        outline: none;
        max-width: 400px; }
        .new_campaign .main_form .row > input:active, .new_campaign .main_form .row > input:focus {
          border-bottom: 2px solid #ff7f50; }
      .new_campaign .main_form .row.half > div {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 30px; }
        .new_campaign .main_form .row.half > div .react-date-picker__button {
          width: 100%;
          max-width: 250px;
          border: none;
          border-bottom: 2px solid #CCC;
          margin-top: 10px; }
          .new_campaign .main_form .row.half > div .react-date-picker__button:focus {
            border-bottom: 2px solid #ff7f50; }
    .new_campaign .main_form .btn_create_campaign {
      background: #ff7f50;
      padding: 8px 16px;
      width: auto; }

footer.app_footer {
  background: #CCC;
  padding-bottom: 150px;
  padding-top: 50px; }
  footer.app_footer .root {
    display: flex;
    flex: 1 25%; }
    footer.app_footer .root .logo-wrap {
      padding: 20px;
      padding-top: 35px;
      display: flex;
      flex-direction: column; }
      footer.app_footer .root .logo-wrap .logo_text {
        font-size: 30px; }
    footer.app_footer .root .link_list {
      flex: 1; }
      footer.app_footer .root .link_list ul {
        list-style: none;
        padding: 0px;
        margin: 0px; }
        footer.app_footer .root .link_list ul li a {
          text-decoration: none;
          color: #999; }
